<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['TRANSACTION DETAIL']" icon="list" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    <sa-stats></sa-stats>
  </div>
  <div class="row">
    <div class="col-md-1">
      <div class="btn-group-vertical" style="width: 100%;" [ngClass]="{'drawer-hidden': menuCollapsed}">
        <button type="button" class="btn btn-default">
          Top
        </button>
        <button type="button" class="btn btn-default">
          Middle
        </button>
        <button type="button" class="btn btn-default">
          Bottom
        </button>
      </div>
    </div>
    <div [ngClass]="{'col-md-12': menuCollapsed, 'col-md-11': !menuCollapsed}">
      <div>
        <sa-widgets-grid>
          <!-- start row -->
          <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <!-- Widget ID (each widget will need unique ID)-->
              <sa-widget>
                <header>
                  <h2>
                    <span class="btn">
                      <a (click)="onToggle()" title="Collapse Menu">
                        <i class="fa fa-reorder fa-lg"></i>
                      </a>
                    </span>
                    <strong>Default</strong>
                    <i>Widget</i>
                  </h2>
                </header>
                <!-- widget content -->
                <div class="widget-body">
                  <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                      <!-- well -->
                      <div class="well">
                        <h3>Bootstrap Modal</h3>
                        <h5>Static Example</h5>
                        <p>
                          A rendered modal with header, body, and set of actions in the footer.
                        </p>

                        <button class="btn btn-primary btn-lg" (click)="lgModal.show()">
                          Launch demo modal
                        </button>
                      </div>
                      <!-- end well-->
                    </div>
                  </div>
                </div>
                <!-- end widget content -->
              </sa-widget>
            </article>
          </div>
          <!-- end row -->
        </sa-widgets-grid>
      </div>
    </div>
  </div>
</div>

<button class="btn btn-primary btn-lg" (click)="lgModal.show()">
    Launch demo modal
  </button>
  
<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Large modal</h4>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Title" required>
            </div>
            <div class="form-group">
              <textarea class="form-control" placeholder="Content" rows="5" required></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="category"> Category</label>
              <select class="form-control" id="category">
                <option>Articles</option>
                <option>Tutorials</option>
                <option>Freebies</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="tags"> Tags</label>
              <input type="text" class="form-control" id="tags" placeholder="Tags">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="well well-sm well-primary">
              <form class="form form-inline " role="form">
                <div class="form-group">
                  <input type="text" class="form-control" value="" placeholder="Date" required>
                </div>
                <div class="form-group">
                  <select class="form-control">
                    <option>Draft</option>
                    <option>Published</option>
                  </select>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-success btn-sm">
                    <span class="glyphicon glyphicon-floppy-disk"></span> Save
                  </button>
                  <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-eye-open"></span> Preview
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="lgModal.hide()">
          Cancel
        </button>
        <button type="button" class="btn btn-primary">
          Post Article
        </button>
      </div>
    </div>
  </div>
</div>