<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="f-left">
          <label>Search:
            <input type="search" [(ngModel)]="tableConfig.filterQuery" class="form-control input-sm full-data-search" placeholder="Search name">
          </label>
          <!-- <div class="float-right">
            <button type="button" class="btn btn-outline-primary waves-effect waves-light f-right d-inline-block md-trigger" (click)="addMemberDetail()">
              <i class="icofont icofont-plus m-r-5"></i> {{ 'Add Member' }}
            </button>
          </div> -->
          <div class="right-icon-control">
            <div class="form-icon ">
              <button class="btn btn-outline-primary btn-icon ripple light" (click)="addMemberDetail()">
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-content crm-table">
      <div class="project-table">
        <div id="crm-contact" class="dt-responsive">
          <div class="table-responsive">
            <table class="table table-striped table-bordered full-data-table" [mfData]="tableConfig.data | dataFilter : tableConfig.filterQuery:'fullName'"
              #mf="mfDataTable" [mfRowsOnPage]="tableConfig.rowsOnPage" [(mfSortBy)]="tableConfig.sortBy" [(mfSortOrder)]="tableConfig.sortOrder">
              <thead>
                <tr>
                  <th>
                    <mfDefaultSorter by="imageSource">Profile</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="fullName">Full Name</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="contactPhone">Contact Phone</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="emailAddress">Email</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="location">Location</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="memberRelationshipName">Relationship</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="createdOn">Created Date</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter>Action</mfDefaultSorter>
                  </th>
                </tr>
                <tr>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of mf.data; let i = index;">
                  <td>
                    <img src="{{item.imageSource}}" class="d-inline-block img-circle " alt="tbl">
                  </td>
                  <td>{{item.fullName}}</td>
                  <td>{{item.contactPhone}}</td>
                  <td>{{item.emailAddress}}</td>
                  <td>{{item.location}}</td>
                  <td>{{item.memberRelationshipName}}</td>
                  <td>{{item.createdOn}}</td>
                  <td class="action-icon">
                    <a href="javascript:;" class="m-r-15 crm-action-view text-info" (click)="viewMemberDetail(item, i);">
                      <i class="fa fa-book"></i>
                    </a>
                    <a href="javascript:;" class="m-r-15 crm-action-edit text-primary" (click)="updateMemberDetail(item, i);">
                      <i class="fa fa-edit"></i>
                    </a>
                    <a href="javascript:;" class="crm-action-delete text-danger" (click)="deleteMemberDetail(item, i);">
                      <i class="fa fa-trash"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="10">
                    <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Add Contact Detail Model -->
<!-- <app-member-detail-popup 
[currentDetailInfo]="selectedMemberDetail"
[viewMode]="memberDetailVideMode"
[relationshipOptions]="relationshipOptions"
></app-member-detail-popup> -->
<app-member-detail-popup2 [currentDetailInfo]="selectedMemberDetail" [currentDetailIndex]="selectedMemberDetailIndex" [viewMode]="memberDetailViewMode"
  [relationshipOptions]="relationshipOptions"></app-member-detail-popup2>