################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.user
bin
obj
packages
*.bin
*.obj
*.packages
/.vs/FamilyHub/v15
/FamilyHub.API/obj/
/FamilyHub.API/obj/
/FamilyHub.Data/obj/
/FamilyHub.EFCore/obj/
/FamilyHub.Repository/obj/
/FamilyHub.Service/obj/
/FamilyHub.API/bin/
/FamilyHub.API/bin/
/FamilyHub.Data/bin/
/FamilyHub.EFCore/bin/
/FamilyHub.Repository/bin/
/FamilyHub.Service/bin/
/FamilyHub.Client.Angular/node_modules
