################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FamilyHub/v15
/FamilyHub.API/obj/
/FamilyHub.API/obj/
/FamilyHub.Data/obj/
/FamilyHub.EFCore/obj/
/FamilyHub.Repository/obj/
/FamilyHub.Service/obj/
