<div>
  <ul class="nav navbar-nav hidden-xs">
    <li dropdown class="dropdown dropdown-large">
      <a class="header-a-dark" dropdownToggle>
        <span class="glyphicon glyphicon-th"></span>
      </a>

      <ul *dropdownMenu class="dropdown-menu dropdown-menu-large row">
        <li class="col-sm-3">
          <ul>
            <li class="dropdown-header">
              Glyphicons
            </li>
            <li>
              <a (click)="(null)">Available glyphs</a>
            </li>
            <li class="disabled">
              <a (click)="(null)">How to use</a>
            </li>
            <li>
              <a (click)="(null)">Examples</a>
            </li>
            <li class="divider"></li>
            <li class="dropdown-header">
              Dropdowns
            </li>
            <li>
              <a (click)="(null)">Example</a>
            </li>
            <li>
              <a (click)="(null)">Aligninment options</a>
            </li>
            <li>
              <a (click)="(null)">Headers</a>
            </li>
            <li>
              <a (click)="(null)">Disabled menu items</a>
            </li>
          </ul>
        </li>
        <li class="col-sm-3">
          <ul>
            <li class="dropdown-header">
              Button groups
            </li>
            <li>
              <a (click)="(null)">Basic example</a>
            </li>
            <li>
              <a (click)="(null)">Button toolbar</a>
            </li>
            <li>
              <a (click)="(null)">Sizing</a>
            </li>
            <li>
              <a (click)="(null)">Nesting</a>
            </li>
            <li>
              <a (click)="(null)">Vertical variation</a>
            </li>
            <li class="divider"></li>
            <li class="dropdown-header">
              Button dropdowns
            </li>
            <li>
              <a (click)="(null)">Single button dropdowns</a>
            </li>
          </ul>
        </li>
        <li class="col-sm-3">
          <ul>
            <li class="dropdown-header">
              Input groups
            </li>
            <li>
              <a (click)="(null)">Basic example</a>
            </li>
            <li>
              <a (click)="(null)">Sizing</a>
            </li>
            <li>
              <a (click)="(null)">Checkboxes and radio addons</a>
            </li>
            <li class="divider"></li>
            <li class="dropdown-header">
              Navs
            </li>
            <li>
              <a (click)="(null)">Tabs</a>
            </li>
            <li>
              <a (click)="(null)">Pills</a>
            </li>
            <li>
              <a (click)="(null)">Justified</a>
            </li>
          </ul>
        </li>
        <li class="col-sm-3">
          <ul>
            <li class="dropdown-header">
              Navbar
            </li>
            <li>
              <a (click)="(null)">Default navbar</a>
            </li>
            <li>
              <a (click)="(null)">Buttons</a>
            </li>
            <li>
              <a (click)="(null)">Text</a>
            </li>
            <li>
              <a (click)="(null)">Non-nav links</a>
            </li>
            <li>
              <a (click)="(null)">Component alignment</a>
            </li>
            <li>
              <a (click)="(null)">Fixed to top</a>
            </li>
            <li>
              <a (click)="(null)">Fixed to bottom</a>
            </li>
            <li>
              <a (click)="(null)">Static top</a>
            </li>
            <li>
              <a (click)="(null)">Inverted navbar</a>
            </li>
          </ul>
        </li>
      </ul>

    </li>
  </ul>
</div>