<div class="page-body">
  <div class="row">

    <div class="col-xl-8 col-md-6 col-sm-12">
      <app-card [title]="'Payment Method'" [cardClass]="'table-card'">
        <div class="table-responsive">
          <table class="table table-hover table-borderless">
            <thead>
              <tr>
                <th>Status</th>
                <th>Subject</th>
                <th>Department</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <label class="label label-success">open</label>
                </td>
                <td>Website down for one week</td>
                <td>Support</td>
                <td>Today 2:00</td>
              </tr>
              <tr>
                <td>
                  <label class="label label-primary">progress</label>
                </td>
                <td>Loosing control on server</td>
                <td>Support</td>
                <td>Yesterday</td>
              </tr>
              <tr>
                <td>
                  <label class="label label-danger">closed</label>
                </td>
                <td>Authorizations keys</td>
                <td>Support</td>
                <td>27, Aug</td>
              </tr>
              <tr>
                <td>
                  <label class="label label-success">open</label>
                </td>
                <td>Restoring default settings</td>
                <td>Support</td>
                <td>Today 9:00</td>
              </tr>
              <tr>
                <td>
                  <label class="label label-primary">progress</label>
                </td>
                <td>Loosing control on server</td>
                <td>Support</td>
                <td>Yesterday</td>
              </tr>
              <tr>
                <td>
                  <label class="label label-success">open</label>
                </td>
                <td>Restoring default settings</td>
                <td>Support</td>
                <td>Today 9:00</td>
              </tr>
              <tr>
                <td>
                  <label class="label label-success">open</label>
                </td>
                <td>Restoring default settings</td>
                <td>Support</td>
                <td>Today 9:00</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="right-icon-control m-t-15">
          <div class="form-icon ">
            <button class="btn btn-primary btn-icon ripple light">
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
      </app-card>
    </div>

    <div class="col-xl-4 col-md-6 col-sm-12">
      <app-card [title]="'Payment Method Type'">
        <div class="align-middle m-b-30">
          <img src="assets/images/finance/mastercard.svg" alt="user image" class="img-radius img-40 align-top m-r-15">
          <div class="d-inline-block">
            <h6>David Jones</h6>
            <p class="text-muted m-b-0">Lorem Ipsum is dummy.</p>
          </div>
        </div>
        <div class="align-middle m-b-30">
          <img src="assets/images/avatar-1.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
          <div class="d-inline-block">
            <h6>David Jones</h6>
            <p class="text-muted m-b-0">Lorem Ipsum is dummy.</p>
          </div>
        </div>
        <div class="align-middle m-b-30">
          <img src="assets/images/avatar-3.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
          <div class="d-inline-block">
            <h6>David Jones</h6>
            <p class="text-muted m-b-0">Lorem Ipsum is dummy.</p>
          </div>
        </div>
        <div class="align-middle m-b-30">
          <img src="assets/images/avatar-4.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
          <div class="d-inline-block">
            <h6>David Jones</h6>
            <p class="text-muted m-b-0">Lorem Ipsum is dummy.</p>
          </div>
        </div>
        <div class="align-middle m-b-30">
          <img src="assets/images/avatar-5.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
          <div class="d-inline-block">
            <h6>David Jones</h6>
            <p class="text-muted m-b-0">Lorem Ipsum is dummy.</p>
          </div>
        </div>
        <div class="align-middle m-b-10">
          <img src="assets/images/avatar-3.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
          <div class="d-inline-block">
            <h6>David Jones</h6>
            <p class="text-muted m-b-0">Lorem Ipsum is dummy.</p>
          </div>
        </div>
      </app-card>
    </div>

    <div class="col-xl-3 col-md-6 col-sm-12">
      <app-card [title]="'Payor Relationship'" [cardClass]="'trafic-card'">
        <p class="m-b-10">Direct
          <span class="float-right">
            <i class="fa fa-caret-up m-r-10"></i>25%</span>
        </p>
        <div class="progress blue">
          <div class="progress-bar bg-c-blue" [style.width]="'75%'"></div>
        </div>
        <p class="m-b-10 m-t-30">Social
          <span class="float-right">
            <i class="fa fa-caret-down m-r-10"></i>58</span>
        </p>
        <div class="progress green">
          <div class="progress-bar bg-c-green" [style.width]="'50%'"></div>
        </div>
        <p class="m-b-10 m-t-30">Referral
          <span class="float-right">
            <i class="fa fa-caret-up m-r-10"></i>20%</span>
        </p>
        <div class="progress red">
          <div class="progress-bar bg-c-red" [style.width]="'20%'"></div>
        </div>
        <p class="m-b-10 m-t-30">Bounce
          <span class="float-right">
            <i class="fa fa-caret-down m-r-10"></i>580</span>
        </p>
        <div class="progress yellow">
          <div class="progress-bar bg-c-yellow" [style.width]="'40%'"></div>
        </div>
        <p class="m-b-10 m-t-30">Internet
          <span class="float-right">
            <i class="fa fa-caret-up m-r-10"></i>70%</span>
        </p>
        <div class="progress purple">
          <div class="progress-bar bg-c-purple" [style.width]="'90%'"></div>
        </div>
      </app-card>
    </div>

    <div class="col-xl-9 col-md-6 col-sm-12">
      <app-card [title]="'Payor List'" [cardClass]="'table-card'">
        <div class="table-responsive">
          <table class="table table-hover table-borderless">
            <thead>
              <tr>
                <th>Status</th>
                <th>Subject</th>
                <th>Department</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <label class="label label-success">open</label>
                </td>
                <td>Website down for one week</td>
                <td>Support</td>
                <td>Today 2:00</td>
              </tr>
              <tr>
                <td>
                  <label class="label label-primary">progress</label>
                </td>
                <td>Loosing control on server</td>
                <td>Support</td>
                <td>Yesterday</td>
              </tr>
              <tr>
                <td>
                  <label class="label label-danger">closed</label>
                </td>
                <td>Authorizations keys</td>
                <td>Support</td>
                <td>27, Aug</td>
              </tr>
              <tr>
                <td>
                  <label class="label label-success">open</label>
                </td>
                <td>Restoring default settings</td>
                <td>Support</td>
                <td>Today 9:00</td>
              </tr>
              <tr>
                <td>
                  <label class="label label-primary">progress</label>
                </td>
                <td>Loosing control on server</td>
                <td>Support</td>
                <td>Yesterday</td>
              </tr>
              <tr>
                <td>
                  <label class="label label-success">open</label>
                </td>
                <td>Restoring default settings</td>
                <td>Support</td>
                <td>Today 9:00</td>
              </tr>
              <tr>
                <td>
                  <label class="label label-success">open</label>
                </td>
                <td>Restoring default settings</td>
                <td>Support</td>
                <td>Today 9:00</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="right-icon-control m-t-15">
          <div class="form-icon ">
            <button class="btn btn-primary btn-icon ripple light">
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
      </app-card>
    </div>

    <div class="col-xl-12 col-md-12 col-sm-12">
      <app-card [title]="'Latest Order'" [cardClass]="'latest-activity-card'" [headerClass]="'borderless'">
        <div class="table-responsive">
          <table class="table table-hover table-borderless">
            <thead>
              <tr>
                <th>Customer</th>
                <th>Order ID</th>
                <th>Photo</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Date</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>John Deo</td>
                <td>#81412</td>
                <td>
                  <img src="assets/images/widget/PHONE1.jpg" alt="" class="img-fluid">
                </td>
                <td>Moto G5</td>
                <td>10</td>
                <td>17-2-2017</td>
                <td>
                  <label class="label label-warning">Pending</label>
                </td>
                <td>
                  <a href="javascript:">
                    <i class="icon feather icon-edit f-w-600 f-16 m-r-15 text-c-green"></i>
                  </a>
                  <a href="javascript:">
                    <i class="feather icon-trash-2 f-w-600 f-16 text-c-red"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td>Jenny William</td>
                <td>#68457</td>
                <td>
                  <img src="assets/images/widget/PHONE2.jpg" alt="" class="img-fluid">
                </td>
                <td>iPhone 8</td>
                <td>16</td>
                <td>20-2-2017</td>
                <td>
                  <label class="label label-primary">Paid</label>
                </td>
                <td>
                  <a href="javascript:">
                    <i class="icon feather icon-edit f-w-600 f-16 m-r-15 text-c-green"></i>
                  </a>
                  <a href="javascript:">
                    <i class="feather icon-trash-2 f-w-600 f-16 text-c-red"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td>Lori Moore</td>
                <td>#45457</td>
                <td>
                  <img src="assets/images/widget/PHONE3.jpg" alt="" class="img-fluid">
                </td>
                <td>Redmi 4</td>
                <td>20</td>
                <td>17-2-2017</td>
                <td>
                  <label class="label label-success">Success</label>
                </td>
                <td>
                  <a href="javascript:">
                    <i class="icon feather icon-edit f-w-600 f-16 m-r-15 text-c-green"></i>
                  </a>
                  <a href="javascript:">
                    <i class="feather icon-trash-2 f-w-600 f-16 text-c-red"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="right-icon-control m-t-15">
          <div class="form-icon ">
            <button class="btn btn-primary btn-icon ripple light">
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
      </app-card>
    </div>
  </div>
</div>