<li (clickOutside)="notificationOutsideClick('live')" class="header-notification ripple light" (click)="toggleLiveNotification()">
    <a href="javascript:">
      <i class="feather icon-bell"></i>
      <span class="badge bg-c-red">5</span>
    </a>
    <ul [@notificationBottom]="liveNotification" class="show-notification" [ngClass]="liveNotificationClass">
      <li>
        <h6>Notifications</h6>
        <label class="label label-danger">New</label>
      </li>
      <li class="ripple">
        <div class="media">
          <img class="d-flex align-self-center img-radius" src="assets/images/avatar-2.jpg" alt="Generic placeholder image">
          <div class="media-body">
            <h5 class="notification-user">John Doe</h5>
            <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
            <span class="notification-time">30 minutes ago</span>
          </div>
        </div>
      </li>
      <li class="ripple">
        <div class="media">
          <img class="d-flex align-self-center img-radius" src="assets/images/avatar-4.jpg" alt="Generic placeholder image">
          <div class="media-body">
            <h5 class="notification-user">Joseph William</h5>
            <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
            <span class="notification-time">30 minutes ago</span>
          </div>
        </div>
      </li>
      <li class="ripple">
        <div class="media">
          <img class="d-flex align-self-center img-radius" src="assets/images/avatar-3.jpg" alt="Generic placeholder image">
          <div class="media-body">
            <h5 class="notification-user">Sara Soudein</h5>
            <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
            <span class="notification-time">30 minutes ago</span>
          </div>
        </div>
      </li>
    </ul>
  </li>