<div class="btn-header transparent pull-right">
  <span dropdown class="dropdown">
    <a class="header-a-dark" dropdownToggle>
      <i class="glyphicon glyphicon-user"></i>
    </a>
    <ul *dropdownMenu class="dropdown-menu pull-right">
      <li>
        <a (click)="(null)" class="padding-10 padding-top-0 padding-bottom-0">
          <i class="fa fa-cog"></i> Setting</a>
      </li>
      <li class="divider"></li>
      <li>
        <a routerLink="/app-views/profile" class="padding-10 padding-top-0 padding-bottom-0">
          <i class="fa fa-user"></i>
          <u>P</u>rofile</a>
      </li>
      <li class="divider"></li>
      <li>
        <a (click)="(null)" class="padding-10 padding-top-0 padding-bottom-0" data-action="toggleShortcut">
          <i class="fa fa-arrow-down"></i>
          <u>S</u>hortcut</a>
      </li>
      <li class="divider"></li>
      <li>
        <a (click)="(null)" class="padding-10 padding-top-0 padding-bottom-0" data-action="launchFullscreen">
          <i class="fa fa-arrows-alt"></i> Full
          <u>S</u>creen</a>
      </li>
      <li class="divider"></li>
      <li>
        <a routerLink="/auth/login" class="padding-10 padding-top-5 padding-bottom-5" data-action="userLogout">
          <i class="fa fa-sign-out fa-lg"></i>
          <strong>
            <u>L</u>ogout</strong>
        </a>
      </li>
    </ul>
  </span>
</div>